- linkClass = "no-underline hover:text-blue-500 px-4 py-2 block"

%header.flex.justify-between.items-center.px-6.h-16.border-b.bg-white
  = link_to '/', :title => "return to the homepage of AppSignal" do
    = image_tag "dl_logo/appsignal-logo.svg", :alt => "Logo of AppSignal", :class => "block h-6"

  %nav
    %ul.flex
      %li.mr-4= link_to 'Home', 'https://appsignal.com', :class => linkClass
      %li.mr-4.group
        = link_to "Tour", "#subnav", :class => linkClass
        %div.c-box.absolute.invisible.group-hover:visible.py-2
          %ul
            - data.tours.tours.each do |tour|
              %li= link_to tour['title'], "https://appsignal.com/tour/#{tour['slug']}", :class => linkClass
          %hr.my-4
          %ul
            %li.mr-4= link_to "AppSignal for Elixir", "https://appsignal.com/elixir/", :class => linkClass
            %li.mr-4= link_to "JavaScript error tracking", "https://appsignal.com/javascript/", :class => linkClass

      %li.mr-4= link_to 'Docs', 'http://docs.appsignal.com', :class => "active", :class => linkClass
      %li.mr-4= link_to 'Blog', 'http://blog.appsignal.com', :class => linkClass
      %li.mr-4= link_to 'Pricing', 'https://appsignal.com/plans/', :class => linkClass

  %nav
    %ul.flex
      %li.logged-in= link_to 'Go to app', "https://appsignal.com/accounts", :class => "c-button c-button--white mr-4"
      %li.logged-out= link_to 'Log in', 'http://appsignal.com/users/sign_in', :class => "c-button c-button--white mr-4"
      %li.logged-out= link_to 'Sign up', 'http://appsignal.com/users/sign_up', :class => "c-button"
