%nav.text-sm
  %h2.c-h-caps.text-xs{:data => { :menu => "start" } } Start
  %ul.mb-8
    %li= link_with_active "Start", "/", :class => "c-nav-link"
    %li= link_with_active "FAQs", "/faq.html", :class => "c-nav-link"
    %li= link_with_active "Your user account", "/getting-started/user-account.html", :class => "c-nav-link"

  %h2.c-h-caps.text-xs{:data => { :menu => "application" } } Your applications
  %ul.mb-8
    %li= link_with_active "Overview", "/application/", :class => "c-nav-link"
    %li= link_with_active "Anomaly detection", "/application/anomaly-detection/", :class => "c-nav-link"
    %li= link_with_active "Namespaces", "/application/namespaces.html", :class => "c-nav-link"
    %li= link_with_active "Customizing data collection", "/application/data-collection.html", :class => "c-nav-link"
    %li
      = link_with_active "Markers", "/application/markers/", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "Deploy markers", "/application/markers/deploy-markers.html", :class => "c-nav-link"
        %li= link_with_active "Custom markers", "/application/markers/custom-markers.html", :class => "c-nav-link"
    %li
      = link_with_active "Settings", "/application/settings.html", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "Link templates", "/application/link-templates.html", :class => "c-nav-link"
    %li
      = link_with_active "Integrations (full list)", "/application/integrations/", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "Asana", "/application/integrations/asana.html", :class => "c-nav-link"
        %li= link_with_active "Clubhouse", "/application/integrations/clubhouse.html", :class => "c-nav-link"
        %li= link_with_active "Google Hangouts Chat", "/application/integrations/hangouts.html", :class => "c-nav-link"
        %li= link_with_active "Intercom", "/application/integrations/intercom.html", :class => "c-nav-link"
        %li= link_with_active "Jira", "/application/integrations/jira.html", :class => "c-nav-link"
        %li= link_with_active "PagerDuty", "/application/integrations/pagerduty.html", :class => "c-nav-link"
        %li= link_with_active "Slack", "/application/integrations/slack.html", :class => "c-nav-link"
        %li= link_with_active "Webhooks", "/application/integrations/webhooks.html", :class => "c-nav-link"

  %h2.c-h-caps.text-xs{:data => { :menu => "organization" } } Your organizations
  %ul.mb-8
    %li= link_with_active "Overview", "/organization/", :class => "c-nav-link"
    %li
      = link_with_active "Team management", "/organization/team/", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "Manage members", "/organization/team/members.html", :class => "c-nav-link"
        %li= link_with_active "Manage owners", "/organization/team/owners.html", :class => "c-nav-link"
        %li= link_with_active "Manage teams", "/organization/team/teams.html", :class => "c-nav-link"
    %li= link_with_active "Billing", "/organization/billing.html", :class => "c-nav-link"

  %h2.c-h-caps.text-xs{:data => { :menu => "account" } } Your user account
  %ul.mb-8
    %li= link_with_active "Email addresses", "/user-account/email-addresses.html", :class => "c-nav-link"
    %li= link_with_active "Two-factor authentication", "/user-account/two-factor-authentication.html", :class => "c-nav-link"

  %h2.c-h-caps.text-xs{:data => { :menu => "ruby" } } AppSignal for Ruby
  %ul.mb-8
    %li= link_with_active "Overview", "/ruby/", :class => "c-nav-link"
    %li= link_with_active "Installation", "/ruby/installation.html", :class => "c-nav-link"
    %li
      = link_with_active "Configuration", "/ruby/configuration/", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "Options", "/ruby/configuration/options.html", :class => "c-nav-link"
        %li= link_with_active "Load order", "/ruby/configuration/load-order.html", :class => "c-nav-link"
        %li= link_with_active "Ignore actions", "/ruby/configuration/ignore-actions.html", :class => "c-nav-link"
        %li= link_with_active "Ignore errors", "/ruby/configuration/ignore-errors.html", :class => "c-nav-link"
        %li= link_with_active "Parameter filtering", "/ruby/configuration/parameter-filtering.html", :class => "c-nav-link"
        %li= link_with_active "Session data filtering", "/ruby/configuration/session-data-filtering.html", :class => "c-nav-link"

    %li
      = link_with_active "Integrations", "/ruby/integrations/", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "Capistrano", "/ruby/integrations/capistrano.html", :class => "c-nav-link"
        %li= link_with_active "DataMapper", "/ruby/integrations/datamapper.html", :class => "c-nav-link"
        %li= link_with_active "Delayed Job", "/ruby/integrations/delayed-job.html", :class => "c-nav-link"
        %li= link_with_active "Grape", "/ruby/integrations/grape.html", :class => "c-nav-link"
        %li= link_with_active "MongoDB", "/ruby/integrations/mongodb.html", :class => "c-nav-link"
        %li= link_with_active "Padrino", "/ruby/integrations/padrino.html", :class => "c-nav-link"
        %li= link_with_active "Puma", "/ruby/integrations/puma.html", :class => "c-nav-link"
        %li= link_with_active "Que", "/ruby/integrations/que.html", :class => "c-nav-link"
        %li= link_with_active "Rack", "/ruby/integrations/rack.html", :class => "c-nav-link"
        %li= link_with_active "Rake", "/ruby/integrations/rake.html", :class => "c-nav-link"
        %li= link_with_active "Resque", "/ruby/integrations/resque.html", :class => "c-nav-link"
        %li= link_with_active "Ruby on Rails", "/ruby/integrations/rails.html", :class => "c-nav-link"
        %li= link_with_active "Sequel", "/ruby/integrations/sequel.html", :class => "c-nav-link"
        %li= link_with_active "Shoryuken", "/ruby/integrations/shoryuken.html", :class => "c-nav-link"
        %li= link_with_active "Sidekiq", "/ruby/integrations/sidekiq.html", :class => "c-nav-link"
        %li= link_with_active "Sinatra", "/ruby/integrations/sinatra.html", :class => "c-nav-link"
        %li= link_with_active "Webmachine", "/ruby/integrations/webmachine.html", :class => "c-nav-link"
        %li= link_with_active "Integration gems <sup>Deprecated</sup>", "/ruby/integrations/appsignal-gems.html", :class => "c-nav-link"

    %li
      = link_with_active "Custom instrumentation", "/ruby/instrumentation/", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "Integrating AppSignal", "/ruby/instrumentation/integrating-appsignal.html", :class => "c-nav-link"
        %li= link_with_active "Instrumentation", "/ruby/instrumentation/instrumentation.html", :class => "c-nav-link"
        %li= link_with_active "Exception handling", "/ruby/instrumentation/exception-handling.html", :class => "c-nav-link"
        %li= link_with_active "Tagging", "/ruby/instrumentation/tagging.html", :class => "c-nav-link"
        %Li= link_with_active "Namespaces", "/ruby/instrumentation/namespaces.html", :class => "c-nav-link"
        %Li= link_with_active "Ignore instrumentation", "/ruby/instrumentation/ignore-instrumentation.html", :class => "c-nav-link"
        %li= link_with_active "Background jobs", "/ruby/instrumentation/background-jobs.html", :class => "c-nav-link"
        %li= link_with_active "Method instrumentation", "/ruby/instrumentation/method-instrumentation.html", :class => "c-nav-link"
        %li= link_with_active "Event formatters", "/ruby/instrumentation/event-formatters.html", :class => "c-nav-link"
        %li= link_with_active "Minutely probes <sup>New</sup>", "/ruby/instrumentation/minutely-probes.html", :class => "c-nav-link"
    %li
      = link_with_active "Command line tools", "/ruby/command-line/", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "Install", "/ruby/command-line/install.html", :class => "c-nav-link"
        %li= link_with_active "Diagnose", "/ruby/command-line/diagnose.html", :class => "c-nav-link"
        %li= link_with_active "Demo", "/ruby/command-line/demo.html", :class => "c-nav-link"
        %li= link_with_active "Notify of deploy", "/ruby/command-line/notify_of_deploy.html", :class => "c-nav-link"

  %h2.c-h-caps.text-xs{:data => { :menu => "elixir" } } AppSignal for Elixir
  %ul.mb-8
    %li= link_with_active "Overview", "/elixir/", :class => "c-nav-link"
    %li
      = link_with_active "Installation", "/elixir/installation.html", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "Umbrella applications", "/elixir/installation/umbrella.html", :class => "c-nav-link"
    %li
      = link_with_active "Configuration", "/elixir/configuration/", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "Options", "/elixir/configuration/options.html", :class => "c-nav-link"
        %li= link_with_active "Load order", "/elixir/configuration/load-order.html", :class => "c-nav-link"
        %li= link_with_active "Ignore actions", "/elixir/configuration/ignore-actions.html", :class => "c-nav-link"
        %li= link_with_active "Ignore errors", "/elixir/configuration/ignore-errors.html", :class => "c-nav-link"
        %li= link_with_active "Parameter filtering", "/elixir/configuration/parameter-filtering.html", :class => "c-nav-link"
        %li= link_with_active "Session data filtering", "/elixir/configuration/session-data-filtering.html", :class => "c-nav-link"
    %li
      = link_with_active "Integrations", "/elixir/integrations/", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "Phoenix", "/elixir/integrations/phoenix.html", :class => "c-nav-link"
        %li= link_with_active "Plug", "/elixir/integrations/plug.html", :class => "c-nav-link"
        %li= link_with_active "Erlang", "/elixir/integrations/erlang.html", :class => "c-nav-link"
    %li
      = link_with_active "Custom instrumentation", "/elixir/instrumentation/", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "Integrating AppSignal", "/elixir/instrumentation/integrating-appsignal.html", :class => "c-nav-link"
        %li= link_with_active "Instrumentation", "/elixir/instrumentation/instrumentation.html", :class => "c-nav-link"
        %li= link_with_active "Exception handling", "/elixir/instrumentation/exception-handling.html", :class => "c-nav-link"
        %li= link_with_active "Tagging", "/elixir/instrumentation/tagging.html", :class => "c-nav-link"
        %li= link_with_active "Namespaces", "/elixir/instrumentation/namespaces.html", :class => "c-nav-link"
        %li= link_with_active "Minutely probes <sup>New</sup>", "/elixir/instrumentation/minutely-probes.html", :class => "c-nav-link"
        %li= link_with_active "Mix tasks", "/elixir/instrumentation/mix_tasks.html", :class => "c-nav-link"
    %li
      = link_with_active "Command line tools", "/elixir/command-line/", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "Install", "/elixir/command-line/install.html", :class => "c-nav-link"
        %li= link_with_active "Diagnose", "/elixir/command-line/diagnose.html", :class => "c-nav-link"
        %li= link_with_active "Demo", "/elixir/command-line/demo.html", :class => "c-nav-link"
    %li= link_with_active "Releases", "/elixir/releases.html", :class => "c-nav-link"
    %li= link_with_active "Why a NIF?", "/elixir/why-nif.html", :class => "c-nav-link"

  %h2.c-h-caps.text-xs{:data => { :menu => "front-end" } } AppSignal for Front-end
  %ul.mb-8
    %li= link_with_active "Overview", "/front-end/", :class => "c-nav-link"
    %li= link_with_active "Installation", "/front-end/installation.html", :class => "c-nav-link"
    %li= link_with_active "Configuration", "/front-end/configuration/", :class => "c-nav-link"
    %li= link_with_active "Error handling", "/front-end/error-handling.html", :class => "c-nav-link"
    %li= link_with_active "Creating and Using a Span", "/front-end/span.html", :class => "c-nav-link"
    %li= link_with_active "Hooks", "/front-end/hooks.html", :class => "c-nav-link"
    %li= link_with_active "Breadcrumbs", "/front-end/breadcrumbs.html", :class => "c-nav-link"
    %li= link_with_active "Sourcemaps", "/front-end/sourcemaps.html", :class => "c-nav-link"
    %li
      = link_with_active "Integrations", "/front-end/integrations/", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "React", "/front-end/integrations/react.html", :class => "c-nav-link"
        %li= link_with_active "Vue", "/front-end/integrations/vue.html", :class => "c-nav-link"
        %li= link_with_active "Angular", "/front-end/integrations/angular.html", :class => "c-nav-link"
        %li= link_with_active "Ember", "/front-end/integrations/ember.html", :class => "c-nav-link"
        %li= link_with_active "Preact", "/front-end/integrations/preact.html", :class => "c-nav-link"
        %li= link_with_active "Stimulus", "/front-end/integrations/stimulus.html", :class => "c-nav-link"
    %li
      = link_with_active "Plugins", "/front-end/plugins/", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "plugin-breadcrumbs-console", "/front-end/plugins/plugin-breadcrumbs-console.html", :class => "c-nav-link"
        %li= link_with_active "plugin-breadcrumbs-network", "/front-end/plugins/plugin-breadcrumbs-network.html", :class => "c-nav-link"
        %li= link_with_active "plugin-window-events", "/front-end/plugins/plugin-window-events.html", :class => "c-nav-link"
        %li= link_with_active "plugin-path-decorator", "/front-end/plugins/plugin-path-decorator.html", :class => "c-nav-link"


  %h2.c-h-caps.text-xs{:data => { :menu => "standalone-agent" } } Standalone agent<sup>Beta</sup>
  %ul.mb-8
    %li= link_with_active "Installation", "/standalone-agent/installation.html", :class => "c-nav-link"
    %li= link_with_active "StatsD", "/standalone-agent/statsd.html", :class => "c-nav-link"
  %h2.c-h-caps.text-xs{:data => { :menu => "metrics" } } Metrics
  %ul.mb-8
    %li
      = link_with_active "Custom metrics", "/metrics/custom.html", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "Dashboards", "/metrics/custom-metrics/dashboards.html", :class => "c-nav-link"
    %li
      = link_with_active "Host metrics", "/metrics/host.html", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "Heroku host metrics", "/metrics/host-metrics/heroku.html", :class => "c-nav-link"
        %li= link_with_active "Container host metrics", "/metrics/host-metrics/containers.html", :class => "c-nav-link"

  %h2.c-h-caps.text-xs{:data => { :menu => "api" } } AppSignal API <sup>Beta</sup>
  %ul.mb-8
    %li= link_with_active "Overview", "/api/", :class => "c-nav-link"
    %li= link_with_active "Push API <sup>Deprecated</sup>", "/push-api/overview.html", :class => "c-nav-link"
    %li= link_with_active "Deploy markers", "/push-api/deploy-marker.html", :class => "c-nav-link"
    %li= link_with_active "Graphs", "/api/graphs.html", :class => "c-nav-link"
    %li= link_with_active "Markers", "/api/markers.html", :class => "c-nav-link"
    %li= link_with_active "Samples", "/api/samples.html", :class => "c-nav-link"
    %li= link_with_active "Event names", "/api/event-names.html", :class => "c-nav-link"
    %li= link_with_active "Sourcemaps", "/api/sourcemaps.html", :class => "c-nav-link"

  %h2.c-h-caps.text-xs{:data => { :menu => "support" } } Support
  %ul.mb-8
    %li= link_to "Contact us!", "mailto:support@appsignal.com"
    %li= link_with_active "Debugging AppSignal", "/support/debugging.html", :class => "c-nav-link"
    %li= link_with_active "Supported Operating Systems", "/support/operating-systems.html", :class => "c-nav-link"
    %li= link_with_active "Known issues", "/support/known-issues.html", :parent_active => true, :class => "c-nav-link"
    %li= link_to "Service status page", "https://status.appsignal.com"

  %h2.c-h-caps.text-xs{:data => { :menu => "appsignal" } } About AppSignal
  %ul.mb-8
    %li
      = link_with_active "Contributing", "/appsignal/contributing.html", :class => "c-nav-link"
      %ul.c-subnav
        %li= link_with_active "Code of Conduct", "/appsignal/code-of-conduct.html", :class => "c-nav-link"
    %li= link_with_active "Security", "/appsignal/security.html", :class => "c-nav-link"
    %li= link_with_active "GDPR", "/appsignal/gdpr.html", :class => "c-nav-link"
    %li= link_with_active "How AppSignal operates", "/appsignal/how-appsignal-operates.html", :class => "c-nav-link"
    %li= link_with_active "Life cycle of an AppSignal request", "/appsignal/request-lifecycle.html", :class => "c-nav-link"
    %li= link_with_active "Terminology", "/appsignal/terminology.html", :class => "c-nav-link"
